<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <h3>最初のマイクロポスト</h3>
  <p><%= @first_micropost.content %></p>
  <small><%= @first_micropost.created_at.strftime("%Y/%m/%d %H:%M") %></small>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>
  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
